<ion-header>
    <ion-toolbar>
        <div class="toolbar-container">
            <ion-buttons slot="start">
                <ion-back-button default-href="#"></ion-back-button>
            </ion-buttons>
            <!-- <div>
                <ion-searchbar (keyup.enter)="onSearch()" (keyup)="onSearch()" [(ngModel)]="search" animated="true"
                    placeholder="Search channel"></ion-searchbar>
            </div> -->
        </div>
    </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
    <ion-content>
        <ion-grid>
            <ion-row>
                <ion-col size="3">
                    <ion-list>
                        <ion-item (click)="selectCategory(category)"
                            *ngFor="let category of categories">
                            <ion-label>{{category.category_name}}</ion-label>
                            <div class="count">({{category.channelCount}})</div>
                        </ion-item>
                    </ion-list>
                </ion-col>
                <ion-col size="4">
                    <ion-list>
                        <ion-item (click)="selectChannel(channel)"
                            *ngFor="let channel of channels">
                            <ion-thumbnail>
                                <img alt="Silhouette of mountains" [src]="channel.stream_icon" />
                            </ion-thumbnail>
                            <ion-label style="margin-left: 10px;" role="button">{{channel.name}}</ion-label>
                        </ion-item>
                    </ion-list>
                </ion-col>
                <ion-col size="5">
                    <bit-player #player></bit-player>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-content>
</ion-content>