<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col>
      <ion-card (click)="navigate('live')" color="primary">
        <ion-card-header>
          <ion-card-title>AO VIVO</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content> Card Content </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card color="secondary">
        <ion-card-header>
          <ion-card-title>FILMES</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content> Card Content </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card color="tertiary">
        <ion-card-header>
          <ion-card-title>SERIES</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content> Card Content </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>