<ion-content [fullscreen]="true">
  <ion-content>
    <ion-refresher pullFactor="0.5" pullMin="10" pullMax="10" slot="fixed" (ionRefresh)="listChannels.bind(this, $event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-list style="overflow: auto; max-height: 97.8vh;">
            <ion-searchbar (ngModelChange)="onSearch()" [(ngModel)]="search" animated="true" placeholder="Search by name"></ion-searchbar>
            <ion-item (click)="selectChannel(channel)" role="button" *ngFor="let channel of channels">
              <ion-label role="button">{{channel.name}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="9">
          <video style="width: 100%; height: 500px;" #video controls autoplay></video>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>